.d-flex {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    background-image: url(/img/neon.jpg);
    background-size: cover;
}

header .menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

header .menu img {
    max-height: 50px;
    width: auto;
}

header .menu ul {
    display: flex;
    align-items: center;
}

header .menu ul li {
    margin-left: 30px;
}

.menu a {
    color: white;
}